<!DOCTYPE html>
<html>
  <head>
    <title>Hour Tracker</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <div class="container">
        <%= link_to "Hour Tracker", root_path, class: "navbar-brand" %>
        <div class="navbar-nav ms-auto">
          <% if user_signed_in? %>
            <%= link_to "Dashboard", dashboard_path, class: "nav-link" %>
            <%= link_to "Profile", profile_path, class: "nav-link" %>
            <%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: "nav-link" %>
          <% else %>
            <%= link_to "Sign In", new_user_session_path, class: "nav-link" %>
            <%= link_to "Sign Up", new_user_registration_path, class: "nav-link" %>
          <% end %>
        </div>
      </div>
    </nav>

    <main class="container py-4">
      <%= render 'shared/flash_messages' if notice || alert %>
      <%= yield %>
    </main>
  </body>
</html>